aiohttp==1.0.5
async-timeout==2.0.0
attrs==17.4.0
beautifulsoup4==4.6.0
bs4==0.0.1
chardet==3.0.4
discord.py==0.16.12
idna==2.6
idna-ssl==1.0.1
lxml==4.1.1
multidict==4.1.0
virtualenv==15.1.0
websockets==3.4
yarl==1.1.1
